.article {
    max-width: fit-content;
    border: 1px rgba(0, 0, 0, 0.3) solid;
    padding: 20px;
    border-radius: 5px;
}

.article--img {
    max-width: 250px;
    max-height: 250px;
}

.article--title {

}

.article--subtitle {
    font-weight: 200;
    font-size: .8em;
}

.article--price {

}